.buttons {
  min-width: 300px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 8px;
  text-align: right;
  font-size: 16px;
  background: #f0f8f8;
  color: #09a96e;
}

.button-1 {
  cursor: pointer;
  border: 2px outset;
  border-radius: 5px;
  background-color: #e4e4e4;
  font-size: x-large;
  color: #10d332;
  padding: 3px;
  text-shadow: 1px 1px white;
}

.button-1:hover {
  color: #12b92f;
}

button, .button-1 {
  border: none;
  background: transparent;
  outline: none;
}

#qrBlock {
  display: flex;
  flex-direction: column;
}

#okGoogle {
  cursor: pointer;
}

.google-microphone {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  position: relative;
  margin: 5% auto;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background: #469bab;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 12px 8px #499699;
}

@-webkit-keyframes move_eye {
  from {
    width: 4em;
    height: 4em;
  } to {
      width: 6em;
      height: 6em;
    }
}

.listening {
  -webkit-animation: move_eye 0.4s cubic-bezier(0.25,0.1,0.25,1) 0s infinite alternate;
}

.gn{
  position: relative;
  margin: 5% auto;
  background-color: rgb(0, 104, 128);
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}
:before, :after{
  content: '';
  position: absolute;
  background-color: #fff;
}
.gn:after{
  top: 30%;
  left: 43%;
  height: 15%;
  width: 14%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.gn:before{
  top: 40%;
  left: 43%;
  height: 15%;
  width: 14%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.mc{
  position: absolute;
  top: 50%;
  left: 37%;
  height: 24%;
  width: 26.5%;
  overflow: hidden;
}
.mc:before{
  bottom: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.1em solid #fff;
  background: none;
}
.mc:after{
  top: 50%;
  left: 40%;
  width: 20%;
  height: 25%;
}
