.videoRecorderContainer {
  width: 50vw;
  min-width: 300px;
  height: 300px;
  position: fixed !important;
  z-index: 5000;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9a527;
  border: 2px solid #e9c014;
  color: black;
  border-radius: 6px;
  padding: 18px;
  font-size: 20px;
  overflow: visible;
}

.videoContainer {
  overflow-y: auto;
  cursor: move;
}

.streamVideo {
  max-width: 100%;
  max-height: 200px;
}

.recorderActions {
  display: flex;
  margin-top: 8px;
}

#devices {
  max-width: 200px;
}

.recorderActions #devices, .recorderActions .extBtn {
  margin-right: 8px;
}

.closeBtn {
  background-color: #FF8C00;
  color: black;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 0.9;
  box-sizing: content-box;
}
